# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
import pandas as pd
import numpy as np

In [2]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [3]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [4]:
root = document_tree.getroot()
for child in root:
    #print(child.tag, child.attrib)
    #print(child.text)
    pass

In [5]:
# print names of all countries
for child in document_tree.getroot():
    #print child.find('infant_mortality').text
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [6]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':',)
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [7]:
document = ET.parse( './data/mondial_database.xml' )

In [8]:
root = document.getroot()

 ## 1. 10 countries with the lowest infant mortality rates

In [9]:
#1. 10 countries with the lowest infant mortality rates
d ={}
for element in document.iterfind('country'):
    name_el = element.find('name').text
    #some countries may not have infant mortality information
    hasinfmort = element.find('infant_mortality')
    if hasinfmort is None:
        str_infmort = ''
    else:
        str_infmort = element.find('infant_mortality').text
    #print('* ' + element.find('name').text + ': '+ str_infmort)
    #if str_infmort is '':
        #d[name_el] = str_infmort #empty string for no infant mortality information
    #else:
        #d[name_el] = float(str_infmort)
    d[name_el] = str_infmort
#print(d)

In [10]:
df = pd.DataFrame([d])
df = df.transpose()#.rename([0:'Inf'])
df.columns = ['Infant_mortality']

df = df.apply(lambda x:x.replace('',np.nan))
df = df.dropna(axis=0)  # remove rows with no information
df.Infant_mortality = df.Infant_mortality.astype(np.float)
df.sort_values(by='Infant_mortality').head(10)
#df.Infant_mortality

                Infant_mortality
Monaco                      1.81
Japan                       2.13
Norway                      2.48
Bermuda                     2.48
Singapore                   2.53
Sweden                      2.60
Czech Republic              2.63
Hong Kong                   2.73
Macao                       3.13
Iceland                     3.15

In [11]:
df.dtypes

Infant_mortality    float64
dtype: object

## 2. 10 cities with the largest population

In [13]:
#2. 10 cities with the largest population
d2 ={}

for element in document.iterfind('country'):
    name_el = element.find('name').text
    
    city_string =''
    population_string =''
    #print('* ' + name_el)
    for subelement in element.iter('city'):  
        str_city = subelement.find('name').text
        #city_string += str_city + ', '
        #some countries may not have population information
        haspop = subelement.find('population')
        if haspop is None:
            str_pop = ''
        else:
            str_pop = subelement.find('population').text
        #population_string += str_pop + ', '
        #print(str_city + '-> ' + str_pop) 
        d2[str_city] = str_pop

In [14]:
d2

{'Uvira': '115590',
 'Edirne': '102345',
 'Lamia': '75315',
 'Liège': '196825',
 'Bishkek': '610630',
 'Marseille': '800550',
 'Tianshui': '244974',
 'Duzce': '65209',
 'Almería': '168025',
 'Táranto': '232200',
 'Tulsa': '360919',
 'Waterbury': '103266',
 'Montpellier': '207996',
 'Dongtai': '192247',
 'Sheikhupura': '80560',
 'Ruda Śląska': '170000',
 'Chattanooga': '169514',
 'Nikopol´': '158000',
 "Birni-N'Konni": '103249',
 'Bouafle': '',
 'Kaspijsk': '49382',
 "St. John's": '104659',
 'Minatitlán': '142060',
 'Buraydah': '',
 "Ba'qubah": '114516',
 'Imperatriz': '210051',
 'Luts´k': '198000',
 'Nouakchott': '558195',
 'Hobart': '184000',
 'Barreiras': '113544',
 'Obuasi': '31005',
 'Ikire': '111435',
 'Andorra la Vella': '15600',
 'Damaturu': '141897',
 'Monywa': '106843',
 'Jodhpur': '666279',
 'Lafia': '108000',
 'Soledad Díez Gutiérrez': '123943',
 'Mogilev': '356500',
 'Leshan': '341128',
 'Telford': '114251',
 'Tacna': '174336',
 'Lomé': '839566',
 'Huangshi': '457601',
 'Mülheim an der Ruhr': '176423',
 'Trento': '101545',
 'Imphal': '',
 'Cap-Haïtien': '86445',
 'Juiz de Fora': '380249',
 'Jelec': '111773',
 'Arica': '175441',
 'Torreón': '439436',
 'Knoxville': '169761',
 'Sanmenxia': '120523',
 'Isparta': '112117',
 'Yazd': '230483',
 'Pittsburgh': '423959',
 'Kotka': '58345',
 'Bhatpara': '315976',
 'Trier': '94118',
 'Coral Springs': '37349',
 'Almaty': '1172400',
 'Koforidua': '46235',
 'São José dos Campos': '425515',
 'Vaslui': '',
 'Agri': '58038',
 'St. Petersburg': '238647',
 'Konya': '513346',
 'Cartagena': '745689',
 'Kabwe': '166519',
 'North Las Vegas': '42739',
 'Cádiz': '143129',
 'Zenica': '145837',
 'Jakarta': '8259266',
 'Giresun': '67604',
 'Liyang': '109520',
 'Jiutai': '180130',
 'Kochi': '',
 'Lubbock': '174361',
 'Pforzheim': '106530',
 'Fort Wayne': '191839',
 'El Monte': '79494',
 'Nižnekamsk': '134199',
 'Port Harcourt': '703421',
 'Haeju': '195000',
 'Mongu': '',
 'Rotherham': '109691',
 'Santa Maria': '196342',
 'Ruian': '156468',
 'Shiraz': '848289',
 'Singida': '81528',
 'Lyon': '415487',
 'Changsha': '1328950',
 'Mata-Utu': '',
 'Västerås': '123728',
 'Honiara': '26000',
 'Haarlem': '212631',
 'Hue': '260489',
 'Raleigh': '212092',
 'Wuhai': '264081',
 'Jinzhou': '569518',
 'Bouaké': '329850',
 'Beni Mellal': '140212',
 'Guanajuato': '73108',
 'Hermannsverk': '706',
 'Gorakhpur': '505566',
 'Ribeirão das Neves': '119925',
 'San Nicolás de los Garzas': '436603',
 'Sacaba': '92581',
 'Oshawa': '129344',
 'Akita': '',
 'Montgomery': '190350',
 'Chake Chake': '',
 'Tel Aviv-Yafo': '348570',
 'Staryj Oskol': '114946',
 'Petrópolis': '249080',
 'Baicheng': '217987',
 'Meknès': '393791',
 'Afyonkarahisar': '95643',
 'Gujrat': '100333',
 'Portalegre': '',
 'Taldykurgan': '116100',
 'Gumushane': '',
 'Kampala': '46000',
 'Karlskrona': '59007',
 'São Caetano do Sul': '149519',
 'Rajahmundry': '324881',
 'Essen': '623427',
 'Windhoek': '147056',
 'Zanzibar': '157626',
 'Taipei': '2626138',
 'Jaén': '107184',
 'Bolzano': '98233',
 'Anju': '186000',
 'Gebze': '159116',
 'Hafnarfjordur': '12000',
 'Yangquan': '362268',
 'Iquique': '164396',
 'Amasya': '57087',
 'Viana do Castelo': '',
 'Darwin': '68500',
 'Bielefeld': '305566',
 'La Paz': '953400',
 'Lexington': '204165',
 'Antsiranana': '59040',
 'Praia Grande': '123492',
 'Usak': '105270',
 'Araraquara': '156465',
 'Ciudad de Guatemala': '823301',
 'Bristol': '496044',
 'Kamoke': '50257',
 'Heze': '189293',
 'Taubaté': '197801',
 'Newcastle upon Tyne': '255362',
 'Krasnodar': '646175',
 'Camaçari': '108232',
 'San Diego': '875538',
 'Quezon City': '1989000',
 'Sinop': '',
 'Esfahan': '986753',
 'Ouesso': '',
 'Danyang': '169603',
 'Montreuil': '102369',
 'Sunnyvale': '106618',
 'Praha': '1215000',
 'Morioka': '',
 'Baguio': '252386',
 'Severodvinsk': '197232',
 'Torino': '961916',
 'Fóggia': '155042',
 'Tasikmalaya': '635464',
 'Utrecht': '547070',
 'Sevilla': '701927',
 'Querétaro': '385503',
 'At Taif': '521273',
 'Villeurbanne': '116872',
 'Toulon': '167619',
 'Košice': '236093',
 'Iaşi': '330000',
 'Samarinda': '407339',
 'Asaba': '',
 'Helsingborg': '114339',
 'Atar': '',
 'Yongin': '386124',
 "Syzran'": '178498',
 'Moreno Valley': '118779',
 'Changde': '301276',
 'Ayacucho': '105918',
 'Jayapura': '154528',
 'Nagasaki': '457486',
 'Ussurijsk': '146782',
 'Villahermosa': '261231',
 'Kalyan': '820562',
 'Pardubice': '163000',
 'Ulyanovsk': '463964',
 'Hyderabad': '2964638',
 'Birjand': '81798',
 'Corrientes': '258103',
 'Mugla': '',
 'Tambacounda': '',
 'Bergisch Gladbach': '100589',
 'Yasuj': '29991',
 'Zixing': '110048',
 'Fès': '737388',
 'Concepción': '212003',
 'Ancona': '101179',
 'Noumea': '',
 'Łódź': '852000',
 'Kozani': '',
 'Neiva': '248178',
 'Goiânia': '913485',
 'Maebashi': '',
 'Qiqihar': '1380000',
 'Corpus Christi': '232134',
 'Ottawa': '523291',
 'Bata': '50023',
 'Ponce': '155038',
 'Kutaisi': '232510',
 'Tarragona': '112795',
 'Bhavnagar': '402338',
 'Wuwei': '133101',
 'Jersey City': '223532',
 'Bogor': '271711',
 'Chandler': '29673',
 'Queimados': '108531',
 'La Plata': '208765',
 'Pondicherry': '',
 'Klaipeda': '192954',
 'Baoding': '483155',
 'Thane': '803389',
 'An Nasiriyah': '265937',
 'Teófilo Otoni': '101966',
 'Nova Iguaçu': '801036',
 'Delhi': '7206704',
 'Al Basrah': '406296',
 'Shillong': '',
 'Suva': '69481',
 'Sincelejo': '180076',
 'Ananindeua': '342905',
 'Vientiane': '377409',
 'Bucureşti': '2037000',
 'Belgorod': '239814',
 'Bogra': '130096',
 'Rzeszów': '151000',
 "Réggio nell'Emilia": '131419',
 'Padang': '631543',
 'Eskisehir': '413082',
 'Lakewood': '113808',
 'Bolgatanga': '18896',
 'Ashdod': '146939',
 'Ščëlkovo': '100281',
 'Orel': '304971',
 'Tieling': '254842',
 'Bălţi': '122669',
 'Ponta Delgada': '46102',
 'Rochdale': '100935',
 'Sunyani': '23780',
 'Sirjan': '90072',
 'Koblenz': '108246',
 'Parnamirim': '48593',
 'Kota Kinabalu': '208484',
 'Morelia': '428486',
 'Masjed Soleyman': '104787',
 'Guarda': '',
 'Yichang': '371601',
 'Pavlodar': '340700',
 'Radom': '226000',
 'Liancheng': '156307',
 'Guntur': '471051',
 'Stavropol': '258233',
 'Khartoum North': '700887',
 'Bengbu': '449245',
 'Ankara': '2583963',
 'Asosa': '',
 'Sedhiou': '',
 'Viedma': '52789',
 'Daejeon': '1272143',
 'Piatra-Neamţ': '104914',
 'Cobán': '144461',
 'Porto-Novo': '133168',
 'Chernihiv': '296000',
 'Korla': '159344',
 'Koulikoro': '',
 'Bytom': '230000',
 'Kinkala': '',
 'Bari': '341273',
 'Tangerang': '1325854',
 'Baoji': '337765',
 'Qo‘qon': '184000',
 'Nashik': '656925',
 'Bursa': '834576',
 'Yokohama': '3256000',
 'Kulyab': '77700',
 'Yamaguchi': '',
 'Luleburgaz': '52384',
 'Djibouti': '450000',
 'Lillehammer': '22118',
 'Campos dos Goytacazes': '324667',
 'Rubcovsk': '157082',
 'Osmaniye': '122307',
 'Seremban': '182584',
 'Salta': '367550',
 'Reynosa': '265663',
 'Zinder': '119827',
 "Kamensk-Ural'skij": '187401',
 'Hualien': '107824',
 'Yantai': '452127',
 'Gracias': '',
 'Wete': '',
 'Detroit': '1203368',
 'Oklahoma City': '404014',
 'Petaling Jaya': '254849',
 'Jiaonan': '121397',
 'Ulanhot': '159538',
 'Toshkent': '2106000',
 'Mopti': '80472',
 'Dispur': '',
 'Samarra': '',
 'Zaoyang': '162198',
 'Kaedi': '34227',
 'Santander': '184165',
 'Hailar': '180650',
 'Gijón': '265491',
 'Cuttack': '403418',
 'Bochum': '386271',
 'Magadan': '121250',
 'Guangzhou': '3918010',
 'Bandjarmasin': '521999',
 'Mirpur Khas': '81965',
 'Kristianstad': '69941',
 'Babati': '',
 'Buxoro': '236000',
 'Hanoi': '3056146',
 'Düsseldorf': '563531',
 'Derbent': '69575',
 'La Asuncion': '',
 'Yakutsk': '152368',
 'Dukou': '415466',
 'Salzgitter': '111069',
 "Elektrostal'": '139272',
 'Nakhon Si Thammarat': '112000',
 'Tonala': '151190',
 'Abu Dhabi': '363432',
 'Oldenburg': '140149',
 'Jiaozuo': '409100',
 'Manisa': '158928',
 'Mbanza Congo': '',
 'Pomona': '92742',
 'Hagen': '209363',
 'Xinxiang': '473762',
 'Salto': '93394',
 'Zhongshan': '278829',
 'Abadan': '6',
 'Olympia': '27447',
 'Lincoln': '171932',
 'Halle': '329625',
 'Timon': '90814',
 'San-Pedro': '131800',
 'Adamstown': '',
 'Oceanside': '76698',
 'Bodoe': '34479',
 'Khulna': '731573',
 'Yozgat': '50335',
 'Shahr-e-Kord': '75080',
 'Rondonópolis': '113032',
 'Poitiers': '78894',
 'Barreiro': '50863',
 'Elche': '191713',
 'Garanhuns': '89206',
 'Niš': '250518',
 'Dordrecht': '213963',
 'Lefkosia': '161100',
 'Juliaca': '142576',
 'Ipatinga': '178830',
 'Sahiwal': '106648',
 'Matamoros': '266055',
 'Makkah': '1294106',
 'Sukkur': '158781',
 'Parma': '168905',
 'Rufisque': '143281',
 'Longueuil': '129874',
 'Cotabato': '150450',
 'Płock': '122000',
 'Wigan': '98070',
 'Gold Coast': '266000',
 'Durgapur': '425836',
 'Koronadal': '133786',
 'Linhe': '133183',
 'Akron': '237177',
 'La Rioja': '103727',
 'Laval': '314398',
 'Popayán': '223128',
 'Jinhua': '144280',
 'Burewala': '57741',
 'Nizhnevartovsk': '108740',
 'Linyi': '1590160',
 'Bern': '134600',
 'Montpelier': '8241',
 'Heidelberg': '127768',
 'Jacareí': '157026',
 'Erlangen': '99808',
 'Corona': '37791',
 "Nazran'": '14945',
 'Tongchuan': '280657',
 'Anchorage': '174431',
 'Guarenas': '134158',
 'Tanchon': '284000',
 'Kislovodsk': '100932',
 'Iğdır': '38917',
 'Fakaofo': '490',
 'New Bombay': '307724',
 'Kansas City': '448028',
 'Nawabshah': '81045',
 'Huntington Beach': '170505',
 'Neijiang': '256012',
 'San Marino': '4442',
 'Réggio di Calabria': '169709',
 'Saransk': '263337',
 'Bremerhaven': '126629',
 'Almere': '170704',
 'Kirikkale': '185431',
 'Jingdezhen': '281183',
 'Mawlamyine': '219961',
 'Messina': '272461',
 'Ganzhou': '220129',
 'Vigo': '283110',
 'Andijon': '303000',
 'Khon Kaen': '206000',
 'Nanchong': '180273',
 'Jena': '105739',
 'Kielce': '213000',
 'Arad': '191000',
 'Uyo': '',
 'Pescara': '121367',
 'Pereira': '352530',
 'Tengxian': '315083',
 'Odesa': '1115000',
 'San Pedro Garza García': '113017',
 'Solingen': '159103',
 'Arar': '',
 'Koutiala': '76914',
 'Higashiosaka': '515094',
 'Kolda': '',
 'Xalapa-Enríquez': '279451',
 'Itapecerica da Serra': '91106',
 'Elista': '70282',
 'Lublin': '350000',
 'Salem': '89091',
 'Talara': '82228',
 'Viborg': '',
 'Pindamonhangaba': '95611',
 'Posadas': '201663',
 'Sittwe': '107620',
 'Polokwane': '508277',
 'Moss': '24517',
 'Ogbomosho': '433030',
 'Ciudad Juárez': '789522',
 'Zapopan': '668323',
 'Hayward': '93585',
 'Mississauga': '463388',
 'Bayamo': '137663',
 'Norwalk': '84901',
 'Blagoveščensk': '171997',
 'Edinburgh': '400632',
 'Niamey': '391876',
 'Wuhan': '3832536',
 'Naperville': '42601',
 'São Paulo': '9412894',
 'Ilam': '89035',
 'São Vicente': '268353',
 'Saint-Denis': '131557',
 'Akureyri': '13000',
 'Bareilly': '590661',
 'Banjul': '357238',
 'Brighton and Hove': '192453',
 'Bhiwandi': '392214',
 'Stara Zagora': '143420',
 'Preston': '97886',
 'Nápoli': '1054601',
 'Râmnicu Vâlcea': '107726',
 'Hamar': '15685',
 'Vlorë': '56000',
 'Itapevi': '107976',
 'Seoul': '10229262',
 'Turbo': '127045',
 'Toyama': '420804',
 'Weifang': '428522',
 'København': '1358540',
 'Lerwick': '6570',
 'Tidjikja': '',
 'Maracaibo': '1249670',
 'Shizuoka': '706513',
 'Ruse': '161453',
 'Kerbela': '296705',
 'Amol': '118242',
 'Huichon': '163000',
 'Zwickau': '130455',
 'Hengshui': '104269',
 'Toronto': '2275771',
 'Irving': '109943',
 'Oskemen': '326300',
 'Nijmegen': '249490',
 'Gunsan': '266517',
 'Freetown': '469776',
 'Sinpho': '158000',
 'Karachi': '3515402',
 'Graz': '237810',
 'Quelimane': '146206',
 'Cork': '123062',
 'Huaihua': '126785',
 'Kaposvár': '71788',
 "Noril'sk": '180358',
 'Itagui': '169374',
 'Novi Sad': '299294',
 'Melaka': '295999',
 'Al Jizah': '1671000',
 'Mesquite': '67053',
 'Burnaby': '158858',
 'Shaoguan': '350043',
 'Mejicanos': '144855',
 'Weihai': '128888',
 'Cajamarca': '92447',
 'Ordu': '102107',
 'Kota Bahru': '219713',
 'Tawau': '244765',
 'Zamboanga': '511000',
 'Nuevo Laredo': '218413',
 'Argenteuil': '104189',
 'Siirt': '68320',
 'Roma': '2693383',
 'Nouadhibou': '72337',
 'Angra dos Reis': '78445',
 'Sheffield': '457805',
 'Changzhou': '729893',
 'Quanzhou': '185154',
 'Kigoma-Ujiji': '84704',
 'Yerushalayim': '468900',
 'Rangpur': '207208',
 'Nanjing': '2610594',
 'Hollywood': '121323',
 'Okhotsk': '9193',
 'Bobo Dioulasso': '309771',
 'Sariwon': '254146',
 'Bejaïa': '114534',
 'Perpignan': '105983',
 'Cité Soleil': '241055',
 'Ngiva': '',
 'Aurangabad': '573272',
 'Castellón de la Plana': '137741',
 'Athens': '86522',
 'Monrovia': '421053',
 'Lubango': '',
 'Roseau': '11000',
 'Beira': '298847',
 'Setúbal': '77885',
 'Impfondo': '',
 'Jincheng': '136396',
 'Petropavlovsk-Kamčatskij': '214977',
 'Soacha': '266817',
 'Tunceli': '',
 'Suqian': '105021',
 'Puerto Montt': '153118',
 'Dandong': '523699',
 'Puebla': '1007170',
 'Guediawaye': '258370',
 'Vitória': '258777',
 'Ulm': '103494',
 'Warri': '363382',
 'Rudniy': '125700',
 'Bryansk': '394210',
 'Riyadh': '1250000',
 'Delemont': '',
 'Khorugh': '',
 'Asunción': '729307',
 'Málaga': '528079',
 'David': '102678',
 'Münster': '246186',
 'Yaoundé': '313706',
 'Glendale': '139060',
 'Sergijev Posad': '107144',
 'Huancayo': '258209',
 'Ha Long': '129394',
 "Bur Sa'id": '382000',
 'Kusong': '177000',
 'Mbandaka': '169841',
 'Osnabrück': '150807',
 'Sydney': '3657000',
 'Toyota': '395224',
 'Zhumadian': '123232',
 'Batna': '181601',
 'Sakai': '829636',
 "Saint George's": '30000',
 'Manchester': '90936',
 'Hartford': '139739',
 'Trabzon': '161886',
 'Toluca': '327865',
 'Kisumu': '185100',
 'Erie': '119123',
 'Balašicha': '117906',
 'Yeosu': '183557',
 'Chania': '83712',
 'Gomel': '475500',
 'Badalona': '209606',
 'Pádova': '215025',
 'Comodoro Rivadavia': '124104',
 'Zadar': '76343',
 'Oporto': '327368',
 "Al Isma'iliyah": '236000',
 'Tbilisi': '1200000',
 'Davao': '1007000',
 'Saarbrücken': '188702',
 'Mogadishu': '',
 'Tianmen': '186332',
 'Daxian': '188101',
 'Aksaray': '90698',
 'Saga': '',
 'Artvin': '',
 'Cilegon': '294936',
 'Ilhéus': '144232',
 'Qinhuangdao': '364972',
 'Sete Lagoas': '140125',
 'Aomori': '',
 'Nigde': '55035',
 'Los Angeles': '2968528',
 'Larkana': '71893',
 'Bengkulu': '170327',
 'Orizaba': '114216',
 'Garden Grove': '123307',
 'Dolisie': '83798',
 'Xiamen': '639436',
 'Kaunas': '378943',
 'Valletta': '7262',
 'San Cristóbal': '220675',
 'Ichikawa': '448642',
 'Ambon': '276955',
 'Eindhoven': '395612',
 'Kandahar': '311800',
 'Mwene-Ditu': '137459',
 'Girón': '135531',
 'Tembisa': '209000',
 'Mérida': '170902',
 'Chiclayo': '424004',
 'Ilawe-Ekiti': '104049',
 'Fukuyama': '416547',
 'Tavoy': '',
 'São João de Meriti': '425772',
 'Jiujiang': '291187',
 'Le Havre': '195854',
 'Khorramshahr': '197241',
 'Iringa': '84501',
 'Ashiaman': '22549',
 'Hilversum': '102023',
 'Albuquerque': '332920',
 'Nevsehir': '52719',
 'Kuala Terengganu': '228654',
 'Charlotte': '315474',
 'Seguela': '',
 'Ashgabat': '416400',
 'Jerez de la Frontera': '181602',
 'Qingdao': '2060000',
 'Catanduva': '89905',
 'Taunggyi': '108231',
 'Abancay': '',
 'Svolvaer': '4500',
 'Saint-Louis': '122000',
 'Bayrūt': '702000',
 'Birmingham': '284413',
 'Al Fashir': '141884',
 'Mossoró': '177331',
 'Ravenna': '135435',
 'Srinagar': '586038',
 'Kaechon': '319554',
 'St. Louis': '452801',
 'Alba Iulia': '',
 'Toulouse': '358688',
 'Jeju': '258509',
 'Bahía Blanca': '260096',
 'Puntarenas': '92400',
 'Puno': '91877',
 'Ardahan': '',
 'Beograd': '1407073',
 'São José dos Pinhais': '111952',
 'Liverpool': '538386',
 'Anaheim': '219494',
 'Panshan': '362773',
 'Kolonia': '5500',
 'Washington': '638432',
 'Larnaka': '46666',
 'Ivano-Frankivs´k': '214000',
 'Culiacán': '415046',
 'Dosso': '',
 'Ferraz de Vasconcelos': '94970',
 'Aleg': '',
 'Trujillo': '',
 'Prishtine': '148090',
 'Kitwe': '338207',
 'Ziguinchor': '107000',
 'Joliet': '106849',
 'München': '1185421',
 'Biel': '53308',
 'Brest': '286400',
 'Hpa an': '',
 'Hildesheim': '103449',
 'Chitre': '33394',
 'Bimbo': '10751',
 'Magaria': '75876',
 'Chengde': '246799',
 'Burgas': '192390',
 'Cochabamba': '304000',
 'Virginia Beach': '262199',
 'Sunchon': '356000',
 'Zigong': '393184',
 'Colima': '106967',
 'Kashi': '174570',
 'Sittard-Geleen': '186011',
 'Koror': '7685',
 'Yuyao': '114056',
 'San José': '296600',
 'Al Ubayyiḑ': '229425',
 'Eldoret': '167016',
 'Forlí': '109228',
 'Petropavlovsk': '239000',
 'Port Blair': '',
 'Bukoba': '128796',
 'Yaroslavl': '596951',
 'Safi': '262276',
 'Arkhangelsk': '385028',
 'Diyarbakir': '373810',
 'Aboisso': '',
 'Takoradi': '80309',
 'Bismarck': '44485',
 'Bayamón': '203499',
 'Bingol': '41590',
 'Los Mochis': '162659',
 'Jalandhar': '509510',
 'Aveiro': '53496',
 'Shiyan': '273786',
 'Trinidad': '106422',
 'Prato': '165364',
 'Baotou': '1200000',
 'Itapetininga': '88146',
 'Nürnberg': '470943',
 'Granada': '79418',
 'Kerch': '174000',
 'Effon-Alaiye': '158977',
 'Zhezkazgan': '108700',
 'La Chorrera': '89780',
 'Soledad': '264583',
 'Barueri': '130799',
 'Salt Lake City': '163034',
 'Bhubaneswar': '411542',
 'An Najaf': '309010',
 'Chicago': '3005072',
 'Kingston': '',
 'Acharnes': '65035',
 'Magangué': '104496',
 'Neuchatel': '',
 'Bonn': '276653',
 'Harare': '1184169',
 'San Jose': '629400',
 'Chorzów': '133000',
 'Lima': '5706127',
 'Haora': '950435',
 'Cabo de Santo Agostinho': '109763',
 'Kikwit': '182142',
 'Lilongwe': '223318',
 'Abaetetuba': '',
 'Cauayan': '103952',
 'San Justo': '1121298',
 'Hasselt': '65348',
 'Mulhouse': '108357',
 'Klagenfurt': '87321',
 'Surrey': '245173',
 'Kangar': '',
 'Escondido': '64355',
 'Cape Coast': '56601',
 'Caruaru': '182012',
 'Duma': '181934',
 'Salerno': '153436',
 'Hubli': '648298',
 'Presidente Prudente': '160227',
 'Piacenza': '102252',
 'Legazpi': '157010',
 'Khabarovsk': '527848',
 'Dongying': '281728',
 'Hialeah': '145254',
 'Kawaguchi': '460027',
 'Changwon': '1079359',
 'Braşov': '353000',
 'Laohekou': '123366',
 'Fort-de-France': '100000',
 'Roatan': '',
 "'s-Hertogenbosch": '199127',
 'Tessaoua': '119506',
 'Hamhung-Hungnam': '701000',
 'Houston': '1595138',
 'Arlington': '152599',
 'Kendari': '162272',
 'Kediri': '249807',
 'San Miguelito': '243025',
 'Kamyšin': '111565',
 'Focsani': '',
 'El Paso': '425259',
 'Philadelphia': '1688210',
 'Panamá City': '584803',
 'Stuttgart': '551904',
 'Warrington': '152458',
 'Belford Roxo': '393520',
 'Musoma': '68437',
 'Korolëv': '133470',
 'Vejle': '48402',
 'Gambella': '',
 'Bregenz': '',
 'Tamale': '83653',
 'Soroe': '',
 'Wolverhampton': '210319',
 'Braga': '63033',
 'Wakefield': '93091',
 'Santa Coloma de Gramenet': '120958',
 'Yining': '177193',
 'Gongzhuling': '226569',
 'Zonguldak': '117975',
 'Biratnagar': '93544',
 'Moers': '100872',
 'Anshan': '1390000',
 'Beipiao': '194301',
 'Lanús': '468561',
 'Austin': '345890',
 'Kharkiv': '1610000',
 'Shangzhi': '215373',
 'Fresno': '217491',
 'Wah Cantonment': '107510',
 'Győr': '129331',
 'Quillacollo': '74980',
 'Petah Tiqwa': '155169',
 'Mexicali': '438377',
 'El Alto': '647350',
 'Marrakech': '643918',
 'Barisal': '187742',
 'Gelsenkirchen': '287508',
 'Nezahualcóyotl': '1255456',
 'Linz': '203044',
 'Lowell': '92418',
 'Firenze': '402316',
 'Des Moines': '191003',
 'General San Martín': '406809',
 'Mitu': '',
 'Charleroi': '206779',
 'Florencia': '118027',
 'Erfurt': '200868',
 'Iloilo': '365820',
 'Cheboksary': '307599',
 'Zhaodong': '179976',
 'Columbia': '110734',
 'Marabá': '102435',
 'Paramaribo': '242946',
 'Wolfsburg': '124896',
 'Francistown': '65244',
 'Cheltenham': '102633',
 'Manaus': '1006585',
 'Topeka': '118690',
 'Taganrog': '276444',
 'Yuscaran': '',
 'Pori': '77763',
 'Yokosuka': '428645',
 'Dimitrovgrad': '105958',
 'Colón': '140908',
 'Colchester': '96063',
 'Chihuahua': '516153',
 'Halmstad': '77601',
 'Palembang': '1144279',
 'Fujisawa': '396014',
 'Medan': '1730752',
 'Eslam Shahr': '215129',
 'Ankang': '142170',
 'Saitama': '1133300',
 'Vicenza': '107076',
 'San Fernando': '',
 'Kramators´k': '198000',
 'Shinyanga': '98682',
 'Dili': '59069',
 'Sri Jayawardhanapura Kotte': '101039',
 'Qarshi': '177000',
 'Bitlis': '',
 'Buea': '24584',
 'Bukavu': '201569',
 'Amagasaki': '466187',
 'Ribeirão Pires': '85085',

In [15]:
df2 = pd.DataFrame([d2])
df2 = df2.transpose()#.rename([0:'Inf'])
df2.columns = ['Population']
df2

df2 = df2.apply(lambda x:x.replace('',np.nan))
df2 = df2.dropna(axis=0)  # remove rows with no information
df2.Population = df2.Population.astype(np.int)
df2.sort_values(by='Population', ascending = False).head(10)

                  Population
Seoul               10229262
Mumbai               9925891
São Paulo            9412894
Jakarta              8259266
Shanghai             8205598
Ciudad de México     8092449
Moskva               8010954
Tokyo                7843000
Beijing              7362426
Delhi                7206704

## 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [16]:
#3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)


#document = ET.parse( './data/mondial_database.xml' )

df = pd.DataFrame(columns=['country','year','population', 'ethnicgroup','ethnic_percentage','ethnic_population'])
for element in document.iterfind('country'):
    name_el = element.find('name').text
    #print('* ' + name_el) 
    
    #from http://stackoverflow.com/questions/2170610/access-elementtree-node-parent-node/2170994#2170994
    parent_map = {}  #create a dictionaty containing maps of parents of elements--> {child:parent}
    for p in element.iter():
        #print(p)
        for c in p:
            if c in parent_map:
                parent_map[c].append(p)
            else:
                parent_map[c] = [p]
                #print(c.tag,p)
                
    yearlist =[]  #need to find the latest year
    dict_pop ={}  # need to build a dictionary {year:population}
    haspop = element.find('population') # at least one tag named 'population' exists
    if haspop is None:
        str_pop = ''
    else:
        str_pop = element.find('population').text # first subelement matching 'population'
        
        for subelement in element.iter('population'): #all the subelement matching 'population', 
                                                      #including sub-elements of city
            #print(str_pop)
            #print(subelement.tag, subelement.attrib['year'], subelement.text, parent_map[subelement][0].tag)
            #print(type(parent_map[subelement][0].tag),parent_map[subelement][0].tag)
            
            
            if str(parent_map[subelement][0].tag) == "country": #only consider country population
                #print(subelement.tag, subelement.attrib['year'], subelement.text, parent_map[subelement][0].tag)
                #print(name_el, subelement.attrib['year'], subelement.text)
                year = int(subelement.attrib['year'])
                pop = int(subelement.text)
                #print(year, pop)
                dict_pop[year]= pop
                yearlist.append(year)
                
    maxyear = max(yearlist)
    tot_pop = dict_pop[max(yearlist)]
    #print(name_el, maxyear, tot_pop)
    if element.find('ethnicgroup') is not None:
        for subelement in element.iter('ethnicgroup'):
            ethnicgroup = subelement.text
            ethnic_percent = float(subelement.attrib['percentage'])
            ethnic_pop = int(tot_pop*ethnic_percent/100)
            #print(name_el, maxyear, tot_pop ,ethnicgroup, ethnic_percent, int(tot_pop*ethnic_percent/100))
            #df.append([name_el, maxyear, tot_pop ,ethnicgroup, ethnic_percent, ethnic_pop ])
            #'country','year','population', 'ethnicgroup','ethnic_percentage','ethnic_population'
            #df.append(pd.Series({'country':name_el, 'year':maxyear, 'population':tot_pop ,'ethnicgroup':ethnicgroup, 
            #           'ethnic_percentage':ethnic_percent, 'ethnic_population':ethnic_pop }), ignore_index=True)
            df.loc[-1] = pd.Series({'country':name_el, 'year':maxyear, 'population':tot_pop ,'ethnicgroup':ethnicgroup, 
                       'ethnic_percentage':ethnic_percent, 'ethnic_population':ethnic_pop })
            df.index = df.index + 1 
            pass

df = df.sort_index() 
#df = df.sort_values(by='ethnic_population', ascending = False) #sorting population-wise before adding 
                                                                #different countries
#df

df = df.set_index('ethnicgroup').sort_index()
#df = df.groupby(df.index).size()
#df
df = df.groupby(df.index).sum()
df.ethnic_population.sort_values(ascending=False).head(10)

ethnicgroup
Han Chinese    1.245059e+09
Indo-Aryan     8.718156e+08
European       4.948722e+08
African        3.183251e+08
Dravidian      3.027137e+08
Mestizo        1.577343e+08
Bengali        1.467769e+08
Russian        1.318570e+08
Japanese       1.265342e+08
Malay          1.219935e+08
Name: ethnic_population, dtype: float64

## 4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [23]:
#longest river
#document = ET.parse( './data/mondial_database.xml' )

#code_to_country_dict = {}
#for country in document.iterfind('country'):
#    code_to_country_dict[country.get('car_code')] = country.find('name').text

df = pd.DataFrame(columns=['river','length','country'])
for element in document.iterfind('river'):
    name_el = element.find('name').text
    #print(name_el)
    if element.find('length') is not None:
        length_riv = float(element.find('length').text)
        #print('length (km): ' + length_riv)
        #for subelement in element.iter('length'):
            #length_riv = subelement.text
            #print('length (km): ' + length_riv)
        country_riv = element.attrib['country']
        #print('source country: ' + element.attrib['country'])
    df.loc[-1] = pd.Series({'river':name_el, 'length':length_riv, 'country':country_riv }) 
    #df.loc[-1] = pd.Series({'river':name_el, 'length':length_riv, 'country':code_to_country_dict[country_riv] })
    df.index = df.index + 1 
df = df.sort_values(by='length', ascending =False)
df.head(10)

        river  length          country
63   Amazonas  6448.0         CO BR PE
100   Jangtse  6380.0               CN
101   Hwangho  4845.0               CN
114      Lena  4400.0                R
32      Zaire  4374.0          RCB ZRE
99     Mekong  4350.0  CN LAO THA K VN
122   Irtysch  4248.0         R KAZ CN
51      Niger  4184.0    RMM RN WAN RG
77   Missouri  4130.0              USA
118  Jenissej  4092.0                R

In [24]:
#largest lake 
#document = ET.parse( './data/mondial_database.xml' )

df = pd.DataFrame(columns=['lake','area','country'])
for element in document.iterfind('lake'):
    name_el = element.find('name').text
    #print(name_el)
    if element.find('area') is not None:
        area_lake = float(element.find('area').text)
        #print('area (): ' + area_lake)
        
        country_lake = element.attrib['country']
        #print('country: ' + element.attrib['country'])
     
    df.loc[-1] = pd.Series({'lake':name_el, 'area':area_lake, 'country':country_lake })
    df.index = df.index + 1 

df = df.sort_values(by='area', ascending =False)
df.head(10)

               lake      area         country
86      Caspian Sea  386400.0  R AZ KAZ IR TM
31    Lake Superior   82103.0         CDN USA
59    Lake Victoria   68870.0     EAT EAK EAU
34       Lake Huron   59600.0         CDN USA
32    Lake Michigan   57800.0             USA
93         Dead Sea   41650.0     IL JOR WEST
57  Lake Tanganjika   32893.0    ZRE Z BI EAT
42  Great Bear Lake   31792.0             CDN
97     Ozero Baikal   31492.0               R
51      Lake Malawi   29600.0      MW MOC EAT

In [26]:
#airport at highest elevation
#document = ET.parse( './data/mondial_database.xml' )

df = pd.DataFrame(columns=['airport','elevation','country'])
for element in document.iterfind('airport'):
    name_el = element.find('name').text
    #print(name_el)
    if element.find('elevation') is not None:
        elev_airp = element.find('elevation').text
        #print()
        #print('elevation (m): ' + str(elev_airp))
        
        country_airp = element.attrib['country']
        #print('country: ' + element.attrib['country'])
     
    df.loc[-1] = pd.Series({'airport':name_el, 'elevation':elev_airp, 'country':country_airp })
    df.index = df.index + 1 
df = df.sort_values(by='elevation', ascending =False)
df.head(10)

                          airport elevation country
778                       Mashhad       995      IR
399                       Yakutsk        99       R
305                      A Coruna        99       E
927                      Guipavas        99       F
816                     Allahabad        98     IND
953                        Kuopio        98      SF
34                Urgench Airport        98     UZB
1314                        Herat       977     AFG
1029  Alfonso Bonilla Aragon Intl       964      CO
450                  Henri Coanda        96      RO